{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Document</title>
    {% endblock %}
</head>
<body>
{% block nav %}
    <br><br>
    <h1>새글 화면</h1>
    <br>
    <hr>
    <!--적은 데이터를 전송할 곳을 지정-->
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form=data">
        <!--csrf공격 막기 위한 코드/ post사용시 반드시 적기-->
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            제목 : <input type="text" name="title">
        </p>
        <p>
            내용 : <textarea name="content" id="" cols="30" rows="10"></textarea>
        </p>
        <p>
            이미지 :  {{ form.as_p }}
        </p>
        <input type="submit" value="글 저장!">
    </form>
{% endblock %}
</body>
</html>